// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction

// include files
include "style.kdl" // layout, animations, colours etc.
include "keybinds.kdl" // keybinds
include "env_variables.kdl" // environment variables
include "input.kdl" // input (keyboards, mouses etc.)
include "output.kdl" // output (monitors)
include "windows_rules.kdl" // windows rules
include "cursor.kdl" // cursor configuration

// spawn-at-startup rules
spawn-at-startup "waybar"
spawn-at-startup "awww-daemon"
spawn-at-startup "hypridle"

hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
    skip-at-startup
}

// Uncomment this line to ask the clients to omit their client-side decorations if possible.
// If the client will specifically ask for CSD, the request will be honored.
// Additionally, clients will be informed that they are tiled, removing some client-side rounded corners.
// This option will also fix border/focus ring drawing behind some semitransparent windows.
// After enabling or disabling this, you need to restart the apps for this to take effect.
prefer-no-csd

// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
