input {
    keyboard {
        xkb {
           layout "us"
        }
    }

    mouse {
        accel-speed 0.1 
        accel-profile "flat"
    }
    // focus of the window will follow mouse position
    focus-follows-mouse
}
