// this file contains all style configurations (animations, decorations, colours etc.)

// layout
layout {
    gaps 16
    center-focused-column "never"
    background-color "transparent"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.7
    }

    default-column-width {
       proportion 0.5;
    }

    focus-ring {
        on 
        width 1 
        active-color "#ebdbb2"
        urgent-color "#CC241D"
        // it doesn't even make sense to add this tho
        inactive-color "#665c54"
    }

    border {
        off 
        width 2 
        active-color "#d3869b"
        inactive-color "#32302F"
        urgent-color "#CC241D"
    }

    shadow {
        on
        softness 3 
        spread 2 
        offset x=15 y=15
        //color "#32302F"
        //inactive-color "#eaeaea"
        draw-behind-window true
    }

   struts {
   }
}

// animations
animations {
    workspace-switch {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }

    window-open {
		duration-ms 300
		curve "cubic-bezier" 0.16 1 0.3 1
	}

    window-close {
		duration-ms 350
		curve "cubic-bezier" 0.16 1 0.3 1
	}
    
    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-resize {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    config-notification-open-close {
        spring damping-ratio=0.6 stiffness=1000 epsilon=0.001
    }

    exit-confirmation-open-close {
        spring damping-ratio=0.6 stiffness=500 epsilon=0.01
    }

    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }

    overview-open-close {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
}
