.top_bar {
  font-size: 14px;
  font-family: FiraCode Nerd Font;
  font-weight: bold;
}

.bottom_bar {
  font-size: 14px;
  font-family: FiraCode Nerd Font;
  font-weight: bold;
}

/* top bar */
window.top_bar .module {
    padding-left: 8px;
    padding-right: 8px;
}

window.top_bar #custom-arch {
    padding: 15px;
}

window.top_bar#waybar {
    background-color: #282828;
    border: 2px solid #EBDBB2;
    padding-left: 6px;
}

window.top_bar #network {
    border: 2px solid #EBDBB2;
}

window.top_bar #workspaces {
    border: 2px solid #FBF1C7;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}

window.top_bar #workspaces button {
    border-radius: 0;
    color: #A89984;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}

window.top_bar #memory {
   margin-right: 8px; 
}

/* bottom bar */

tray.bottom_bar#waybar {
  padding: 5px;
}
