* {
    font-size: 14px;
    font-family: FiraCode Nerd Font;
    font-weight: bold;
}

.module {
    padding-left: 8px;
    padding-right: 8px;
}

#custom-arch {
    padding-left: 10px;
}

window#waybar {
    background-color: #282828;
    border: 2px solid #EBDBB2;
    padding-left: 6px;
}

#network {
    border: 2px solid #EBDBB2;
}

#workspaces {
    border: 2px solid #FBF1C7;
    padding-left: 0;
    padding-right: 0;
}

#workspaces button {
    border-radius: 0;
    color: #A89984;
    padding-left: 0px;
    padding-right: 0px;
}

