// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction

// Input device configuration.
// Find the full list of options on the wiki:
// https://yalter.github.io/niri/Configuration:-Input

//environment variables
environment {
  QT_QPA_PLATFORMTHEME "qt5ct"
  QT_QPA_PLATFORM "wayland"
  GTK_IM_MODULE "wayland"
}

input {
    keyboard {
        xkb {
           layout "us"
        }
    }

    mouse {
        accel-speed 0.1 
        accel-profile "flat"
    }
    // focus of the window will follow mouse position
    focus-follows-mouse

}

output "eDP-1" {
    mode "1920x1080@143.998"
    scale 1 
    transform "normal"
    position x=1920 y=0
}

layout {
    // gaps between windows
    gaps 16
    center-focused-column "on-overflow"
    background-color "transparent"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.7
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        off
        width 2 
        active-color "#EBDBB2"
        urgent-color "#CC241D"
        inactive-color "#32302F"
    }

    border {
        width 2 
        active-color "#EBDBB2"
        inactive-color "#32302F"
        urgent-color "#CC241D"
    }

    shadow {
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }

   struts {
   }
}

// spawn-at-startup rules
spawn-at-startup "waybar"
spawn-at-startup "protonvpn-app"
spawn-at-startup "swww-daemon"

hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
    skip-at-startup
}

// Uncomment this line to ask the clients to omit their client-side decorations if possible.
// If the client will specifically ask for CSD, the request will be honored.
// Additionally, clients will be informed that they are tiled, removing some client-side rounded corners.
// This option will also fix border/focus ring drawing behind some semitransparent windows.
// After enabling or disabling this, you need to restart the apps for this to take effect.
prefer-no-csd

// You can change the path where screenshots are saved.
// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
    // Uncomment to turn off all animations.
    // off

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    // slowdown 3.0

    workspace-switch {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }

    window-open {
		duration-ms 300
		curve "cubic-bezier" 0.16 1 0.3 1
	}

    window-close {
		duration-ms 350
		curve "cubic-bezier" 0.16 1 0.3 1
	}
    
    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-resize {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    config-notification-open-close {
        spring damping-ratio=0.6 stiffness=1000 epsilon=0.001
    }

    exit-confirmation-open-close {
        spring damping-ratio=0.6 stiffness=500 epsilon=0.01
    }

    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }

    overview-open-close {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
}

// windows rules
window-rule {
    match app-id="kitty"
    open-floating true
    default-column-width { fixed 900; }
    default-floating-position x=500 y=200 relative-to="top-left"
    default-window-height { fixed 500; }
}

// block out two password managers from screen capture.
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

// enable rounded corners for all windows.
window-rule {
    geometry-corner-radius 8 
    clip-to-geometry true
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    // 'programs'
    Mod+Q hotkey-overlay-title="Open kitty" { spawn "kitty"; }
    Mod+Y hotkey-overlay-title="Run yazi" { spawn-sh "kitty yazi"; }
    Mod+D hotkey-overlay-title="Run fuzzel" { spawn "fuzzel"; }
    Super+Alt+L hotkey-overlay-title="Lock the screen (hyprlock)" { spawn "hyprlock"; }
    Mod+Z hotkey-overlay-title="Run hyprpicker" { spawn "hyprpicker" "-a" "-f" "hex"; }
    Mod+B hotkey-overlay-title="Run wlsunset" { spawn-sh "wlsunset -t 2500"; }
    Mod+Shift+B hotkey-overlay-title="Kill wlsunset" { spawn-sh "pkill wlsunset"; }
    Mod+P hotkey-overlay-title="Run rofimoji" { spawn-sh "rofimoji -a type copy -f math.csv emojis"; }

    // special keys
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; } 
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; } 
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; } 

    // workspace management
    Mod+O repeat=false { toggle-overview; }
    Mod+W repeat=false { close-window; }

    // moving between workspaces and windows and columns
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }
    Mod+U     { focus-workspace-down; }
    Mod+I     { focus-workspace-up; }

    // moving columns and workspaces and windows (keyboard)
    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+J     { move-window-down; }
    Mod+Ctrl+K     { move-window-up; }
    Mod+Ctrl+L     { move-column-right; }
    Mod+Ctrl+U     { move-column-to-workspace-down; }
    Mod+Ctrl+I     { move-column-to-workspace-up; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    // The following binds move the focused window in and out of a column.
    // If the window is alone, they will consume it into the nearby column to the side.
    // If the window is already in a column, they will expel it out.
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    // Consume one window from the right to the bottom of the focused column.
    Mod+Comma  { consume-window-into-column; }
    // Expel the bottom window from the focused column to the right.
    Mod+Period { expel-window-from-column; }

    // Move the focused window between the floating and the tiling layout.
    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }
    
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    // Toggle tabbed column display mode.
    // Windows in this column will appear as vertical tabs,
    // rather than stacked on top of each other.
    Mod+Shift+W { toggle-column-tabbed-display; }

    // niri built-in screenshot system
    Mod+A { screenshot; }
    Ctrl+Mod+A { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    Mod+Shift+E { quit; }

    // Powers off the monitors. To turn them back on, do any input like
    // moving the mouse or pressing any other key.
    Mod+Shift+P { power-off-monitors; }
}
