/* global */
* {
   border-radius: 12px;
   border: none;
   font-size: 18px;
   font-family: JetBrainsMono Nerd Font;
   font-weight: bold;
   color: #282828;
}

window#waybar {
   background: transparent;
}

.modules-left {
   padding: 0px 0px 0px 0px;   
   margin: 10px 10px; 

   background: #fbf1c7;

   border: 3px solid #282828; 
   box-shadow: 8px 8px #282828;
}

.modules-right {
   padding: 0px 10px 0px 10px;   
   margin: 10px 10px; 

   background: #fbf1c7;

   border: 3px solid #282828; 
   box-shadow: 8px 8px #282828;
}

/* individual modules who need separate care */
#clock {
   padding: 0px 10px 0px 10px;
}

#cpu {
   padding: 0px 10px;
}

#temperature {
   padding: 0px 10px;
}

#memory {
   padding: 0px 10px;
}
