/* default */
* {
}

.top_bar {
   font-size: 18px;
   font-family: Hurmit Nerd Font;
   font-weight: bold;
}

/* DEPRECATED */
.bottom_bar {
   font-size: 16px;
   font-family: Hurmit Nerd Font;
   font-weight: bold;
}

/* TOP BAR!!! */
/* bar */
window.top_bar#waybar {
   background-color: #282828;
   border-right: 3px solid #d5c4a1;
   border-bottom: 3px solid #d5c4a1;
}

/* custom-arch module */
window.top_bar #custom-arch {
   padding: 0px 18px 0px 12px;
   color: #458588;
   font-size: 20px;
}

/* network module */
window.top_bar #network {
}

/* workspace module */
window.top_bar #workspaces {
   border-bottom: 3px solid #d5c4a1;
   padding: 0px 3px;
   margin: 0px 5px;
}

/* workspace buttons */
window.top_bar #workspaces button {
   color: #ebdbb2;
   padding: 0px 4px;
   margin: 0px 4px;
   min-width: 0;
   border-radius: 0px;
}

/* active workspace button */
window.top_bar #workspaces button.active {
   color: #ebdbb2;
   border-top: 3px solid #d5c4a1;
}

/* niri/window module */
window.top_bar #window {
   padding-left: 15px;
   padding-right: 15px;
   padding: 0px 15px 1px 15px;
   color: #ebdbb2;
   font-size: 16px;
}

window.top_bar #clock {
   color: #ebdbb2;
   font-size: 16px;
}


/* memory module */
window.top_bar #memory {
   padding: 0px 15px 0px 15px;
   color: #ebdbb2;
   font-size: 16px;
} 

/* cpu module */
window.top_bar #cpu {
   padding: 0px 5px 0px 15px;
   color: #ebdbb2;
   font-size: 16px;
}

/* temperature module */
window.top_bar #temperature {
   padding: 0px 5px 0px 15px;
   color: #ebdbb2;
   font-size: 16px;
}

/* tray module */
window.top_bar #tray {
   padding: 10px 15px 10px 5px;
   color: #ebdbb2;
}

window.top_bar #tray widget {
   color: #ebdbb2
}

/* DEPRECATED */
/* BOTTOM BAR!!! */
/* bar */
window.bottom_bar#waybar {
   border: 2px solid #EBDBB2;
   padding-left: 6px;
}

/* tray module */
window.bottom_bar #tray {
   padding: 10px 15px 10px 15px;
}
